<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
</head>

<body>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
    </tr>

    <form action="" method="get">
        <label for="categoryFilter">Category filter</label>
        <select id="categoryFilter" name="categoryId" th:field="*{categoryId}
        ${param['categoryId'] == null || param['categoryId'] == -1 ? 'selected' : ''}">
            <option></option>

                <option th:each="category : ${categories}"
                        th:field="*{id}
                        ${param['categoryId'] == category.id ? 'selected' : ''}"
                        th:text="${category.name}"
                ></option>

        </select>
        <input type="submit" value="Apply" />
    </form>

        <tr th:each="prod : ${products}">

            <td th:text="${prod.id}">ID</td>

            <td><a th:href="@{/products/edit?id={id}(id=${prod.id})}"
                   th:text="${prod.name}">Product</a></td>

            <td th:text="${prod.description}">Description</td>

            <td th:text="${prod.category.name}">Category name</td>
        </tr>
    </c:forEach>

</table>

</body>

</html>